<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Me Ajuda! </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-segment
      (ionChange)="segmentChanged($event)"
      value="receber"
      [(ngModel)]="segment"
    >
      <ion-segment-button value="receber">Preciso de Ajuda</ion-segment-button>
      <ion-segment-button value="ajudar">Quero Ajudar</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div id="receber">
    <form #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-input
                  name="name"
                  type="text"
                  placeholder="Nome"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  name="email"
                  type="email"
                  placeholder="your@email.com"
                  ngModel
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  name="telefone"
                  type="text"
                  placeholder="Telefone"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  name="local"
                  type="text"
                  placeholder="local"
                  ngModel
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-textarea
                  name="descricao"
                  type="text"
                  placeholder="Detalhes"
                  ngModel
                  required
                ></ion-textarea>
              </ion-item>
            </div>
            <div padding>
              <ion-button
                size="large"
                type="submit"
                [disabled]="form.invalid"
                expand="block"
                >Enviar</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div id="ajudar">
    <ion-card *ngFor="let rs of arrayAjuda">
      <ion-card-header>
        <ion-card-subtitle>Nome</ion-card-subtitle>
        <ion-card-title>{{ rs.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ rs.descricao }}
        <ion-button (click)="presentAlert(rs)">
          Ajudar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
