ion-title, ion-icon {
  color: #f8a041;
}

ion-input, ion-textarea, ion-segment-button{
  color: white;
}

ion-menu-button {
  color: #ff3158;
}

ion-card {
  background-color: white !important;
  margin: 18px 18px;
}

ion-list {
  margin: 18px;
}


ion-button {
  display: block;
  margin: 2px;
}


