ion-title{
 color: #f8a041;
}

ion-menu-button{
    color: #ff3158;
}

h4 {
    color: white;
    margin: 30px 30px 18px;
    text-align: center;
}

h3 {
    color:  #ff3158;
    margin: 5px 18px;
    text-align: center;
    font-size: 50px;
}

img { 
    width: 50%;
    margin: auto;
    display: block;
}

span {
    color: gray;
    margin: 0px 18px;
    font-size: 12px;
    text-align: center;
    
}
