ion-title {
  color: #f8a041;
}

ion-menu-button {
  color: #ff3158;
}
ion-card {
  background-color: white !important;
}

ion-card-content {
  background-color: white !important;
  color: black;
  font-size: 20px;
}

img {
  width: 50%;
  margin-left: 50px;
  margin-top: 30px;
}

label { 
    color: white;
    font-size: 20px;
}


span {
  color: gray;
  margin: 0px 18px;
  font-size: 12px;
  
}

.alert-radio-label.sc-ion-alert-md{
  color: white !important;
}