<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Sobre Nós </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img src="assets/img/nayara.jpeg" />
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label> Nayara Pimentel</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="code"></ion-icon> &nbsp;
            <ion-label> Full Stack</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <img src="assets/img/marcelo.jpeg" />
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label> Marcello Alves</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="code"></ion-icon> &nbsp;
            <ion-label> Analista UI</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />

  <ion-list>
    <ion-item>
      <ion-label>
        Fonte de dados
      </ion-label>
    </ion-item>

    <ion-item>
      <a href="https://covid19.who.int/"> WHO - World Health Organization </a>
    </ion-item>
    <ion-item>
      <a href="https://covid19-brazil-api.now.sh/"> API - Covid19 Brazil </a>
    </ion-item>
  </ion-list>
</ion-content>
