ion-title {
  color: #f8a041;
}

ion-item {
  color: white;
}

ion-menu-button {
  color: #ff3158;
}

ion-card {
  background-color: white !important;
  margin: 18px 18px;
}

img {
  border-radius: 100%;
  width: 150px;
  margin: auto;
  margin-top: 16px;
}

ion-col {
    margin-top: 18px;
}

ion-icon {
    color: #f8a041;
}